.cart__link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 32px;

    width: 21px;
    height: 18px;

    background-image: url("../img/cart.svg");
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      left: 0;
    }
  }

  @media (min-width: $tablet-width) {
    align-self: center;
    padding-left: 51px;

    font-size: 17px;
  }
}
