.cart__link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 32px;

    width: 21px;
    height: 18px;

    background-image: url("../img/cart.svg");
    transform: translateY(-50%);
  }
}
