.cart__link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 50%;

    width: 21px;
    height: 18px;

    background-image: url("../img/cart.svg");
    transform: translateY(-50%) translateX(-67px);

    @media (min-width: $tablet-width) {
      left: 67px;
    }
  }

  @media (min-width: $tablet-width) {
    align-self: center;
    padding-left: 51px;

    font-size: 17px;
  }
}
