.categories__wrapper {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 30px;

  background-image: url("../img/hero-mobile.png");
  background-position: 0 -17.5px;
}

.categories__title {
  width: 260px;
  margin-bottom: 120px;
  padding-top: 72px;
  padding-left: 30px;

  font-size: 27px;
  line-height: 30px;
  text-align: center;
}

.categories__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.categories__item {
  width: 320px;
  height: 103px;

  &--interior {
    background-color: $categories-interior-color;
    background-image: url("../img/interior.svg");
    background-repeat: no-repeat;
    background-position: 244px 24px;
  }

  &--toy {
    background-color: $categories-toy-color;
    background-image: url("../img/toy.svg");
    background-repeat: no-repeat;
    background-position: 233px 22px;
  }
}

.categories__link {
  display: block;
  padding: 24px 160px 32px 30px;

  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: $white-color;
  text-decoration: none;
}
