.contacts__wrapper {
  color: $secondary-color;
}

.contacts__table {
  margin-bottom: 60px;
}

.contacts__title {
  margin-bottom: 28px;

  font-size: 18px;
}

.contacts__link {
  padding-right: 11px;
  padding-bottom: 2px;

  color: inherit;
  text-decoration: none;

  border-bottom: 1px solid $border-contacts-color;
}

.contacts__row {
  display: flex;
}

.contacts__row:first-child {
  margin-bottom: 30px;
}

.contacts__cell {
  padding: 0;

  font-size: 14px;
  line-height: 30px;
}

.contacts__cell:first-child {
  padding-right: 31px;
}

.contacts__address {
  font-style: normal;
}

.contacts__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 42px;
}

.contacts__button {
  margin-bottom: 39px;
}
