.container {
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;

  @media (min-width: $tablet-width) {
    padding-right: 50px;
    padding-left: 50px;
  }
}
