.copyright {
  display: flex;
  justify-content: center;
}

.copyright__text {
  position: relative;

  padding-right: 27px;

  font-weight: 700;
  font-size: 19px;

  &::before {
    content: "";
    position: absolute;
    top: -25px;
    left: -40px;

    width: 260px;
    height: 1px;

    background-color: $border-footer-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.copyright__link {
  &:active {
    opacity: 0.3;
  }
}
