.form__fieldset {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;

  font-weight: 700;
  font-size: 17px;

  border: none;

  @media (min-width: $tablet-width) {
    position: relative;

    padding-left: 220px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 227px;
  }

  &--radio {
    margin-bottom: 16px;

    @media (min-width: $tablet-width) {
      margin-bottom: 6px;
    }
  }

  &--checkbox {
    margin-bottom: 19px;

    @media (min-width: $tablet-width) {
      position: relative;

      display: grid;
      margin-bottom: 22px;
      margin-left: -3px;
      padding-top: 46px;
      padding-bottom: 46px;

      column-gap: 36px;

      grid-template-columns: 225px 225px;
      row-gap: 15px;
    }

    @media (min-width: $desktop-width) {
      margin-right: auto;
      margin-left: auto;

      column-gap: 38px;

      grid-template-columns: 225px 225px 225px;
    }
  }

  &--field {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      margin-bottom: 13px;
      padding-top: 40px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 225px;
    }
  }

  &--phone {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      padding-top: 60px;
      padding-bottom: 34px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 225px;
    }
  }

  &--email {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
      padding-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 225px;
    }
  }

  &--textarea {
    @media (min-width: $tablet-width) {
      margin-bottom: 38px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 225px;
    }
  }
}

.form__inner-checkbox {
  @media (min-width: $tablet-width) {
    background-color: $background-footer-color;
  }
}

.form__legend {
  position: relative;

  margin-bottom: 30px;
  padding: 0;

  color: $legend-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -3px;
    left: 50px;

    &--checkbox {
      top: 63px;
      left: 53px;
    }

    &--name {
      top: 42px;
    }

    &--phone {
      top: 63px;
    }

    &--email {
      top: 5px;
    }

    &--textarea {
      top: 15px;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 110px;
  }

  &--checkbox {
    margin-bottom: 10px;
  }

  &--name {
    margin-bottom: 2px;
  }

  &--phone {
    margin-bottom: 12px;
  }

  &--email {
    margin-bottom: 15px;
  }

  &--textarea {
    margin-bottom: 19px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 60px;

    width: calc(100vw - 120px);
    height: 1px;

    background-color: $radio-color;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--email::after {
    left: 78px;

    width: calc(100vw - 138px);
  }
}

.form__label {
  display: flex;
  flex-direction: column;

  line-height: 18px;

  &--name {
    @media (min-width: $tablet-width) {
      display: grid;
      margin-bottom: 37px;

      font-size: 19px;
      column-gap: 25px;

      grid-template-columns: min-content 1fr;
    }
  }
}

.form__text-radio {
  position: relative;

  margin-bottom: 24px;
  padding-left: 60px;

  @media (min-width: 346px) {
    margin-bottom: 35px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
    padding-left: 77px;

    font-size: 19px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 46%;
    left: -1px;

    box-sizing: border-box;
    width: 42px;
    height: 42px;

    border: 2px solid $secondary-color;
    border-radius: 50%;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      width: 52px;
      height: 52px;
    }
  }
}

.form__text-radio:hover::before {
  border-color: $radio-color;
}

.form__text-radio:active::before {
  border-color: rgba($primary-color, 0.3);
}

.form__input-radio:checked + .form__text-radio::before {
  box-shadow: inset 0 0 0 10px $white-color, inset 0 0 0 20px $radio-color;

  @media (min-width: $tablet-width) {
    box-shadow: inset 0 0 0 13px $white-color, inset 0 0 0 25px $radio-color;
  }
}

.form__input-radio:focus + .form__text-radio::before {
  border-color: $radio-color;
}

.form__text-checkbox {
  position: relative;

  margin: 21.5px 0;
  padding-left: 61px;

  @media (min-width: $tablet-width) {
    padding-left: 82px;

    font-size: 19px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 46%;
    left: 0;

    box-sizing: border-box;
    width: 38px;
    height: 38px;

    border: 2px solid $secondary-color;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      width: 52px;
      height: 52px;
    }
  }
}

.form__text-checkbox:hover::before {
  border-color: $radio-color;
}

.form__text-checkbox:active::before {
  border-color: rgba($secondary-color, 0.3);
}

.form__input-checkbox:checked + .form__text-checkbox::before {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (min-width: $tablet-width) {
    background-image: url("../img/tick-big.svg");
    background-position: 54% 54%;
  }
}

.form__input-checkbox:focus + .form__text-checkbox::before {
  border-color: $radio-color;
}

.form__text-field {
  margin-bottom: 14px;
  padding-top: 23px;

  @media (min-width: $tablet-width) {
    margin-left: -2px;
    padding-top: 3px;
  }
}

.form__input-field {
  box-sizing: border-box;
  padding: 0;
  padding-bottom: 12px;

  font-size: 17px;
  font-family: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid $primary-color;
  outline: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 11px;
    padding-left: 16px;

    font-size: 19px;
  }

  &--phone {
    padding-right: 45px;
    padding-bottom: 15px;

    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    background-position: 97% 0;
    filter: grayscale(1);

    @media (min-width: $tablet-width) {
      background-position: 94.5% 10%;
    }

    @media (min-width: $desktop-width) {
      background-position: 99% 10%;
    }

    &:hover,
    &:focus {
      filter: none;
    }
  }

  &--email {
    padding-right: 45px;
    padding-bottom: 14px;

    background-image: url("../img/mail.svg");
    background-repeat: no-repeat;
    background-position: 99% 11%;
    filter: grayscale(1);

    @media (min-width: $tablet-width) {
      background-position: 95.4% 23%;
    }

    @media (min-width: $desktop-width) {
      background-position: 99.5% 30%;
    }

    &:hover,
    &:focus {
      filter: none;
    }
  }

  &:hover,
  &:focus {
    border-color: $radio-color;
  }

  &::placeholder {
    color: rgba($primary-color, 0.3);
  }
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 142px;
  margin-bottom: 15px;
  padding: 16px;

  font-size: 17px;
  line-height: 18px;
  font-family: inherit;

  border: 2px solid $primary-color;
  outline: none;

  resize: none;

  @media (min-width: $tablet-width) {
    margin-left: -3px;

    font-size: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 13px;
  }

  &:hover,
  &:focus {
    border-color: $radio-color;
  }

  &::placeholder {
    color: rgba($primary-color, 0.3);
  }
}

.form__text-note {
  margin: 0;
  margin-bottom: 29px;

  font-size: 14px;
  color: $secondary-color;

  @media (min-width: $tablet-width) {
    order: 2;

    font-size: 17px;
  }
}

.form__button {
  margin-right: auto;
  margin-bottom: 55px;
  margin-left: auto;

  font-size: 17px;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin: 0;
  }
}

.form__inner-contacts {
  @media (min-width: $tablet-width) {
    background-color: $background-footer-color;
  }
}

.form__inner-user {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}
