.form__fieldset {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;

  font-weight: 700;
  font-size: 17px;

  border: none;

  @media (min-width: $tablet-width) {
    position: relative;

    padding-left: 220px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 227px;
  }

  &--radio {
    margin-bottom: 16px;

    @media (min-width: $tablet-width) {
      margin-bottom: 6px;
    }
  }

  &--checkbox {
    margin-bottom: 19px;

    @media (min-width: $tablet-width) {
      position: relative;

      display: grid;
      margin-bottom: 22px;
      margin-left: -3px;
      padding-top: 46px;
      padding-bottom: 46px;

      column-gap: 36px;

      grid-template-columns: 225px 225px;
      row-gap: 15px;
    }

    @media (min-width: $desktop-width) {
      margin-right: auto;
      margin-left: auto;

      column-gap: 38px;

      grid-template-columns: 225px 225px 225px;
    }
  }

  &--field {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      margin-bottom: 13px;
      padding-top: 40px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 225px;
    }
  }

  &--phone {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      padding-top: 60px;
      padding-bottom: 34px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 225px;
    }
  }

  &--email {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
      padding-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 225px;
    }
  }

  &--textarea {
    @media (min-width: $tablet-width) {
      margin-bottom: 38px;
    }

    @media (min-width: $desktop-width) {
      padding-right: 225px;
    }
  }
}

.form__inner-checkbox {
  @media (min-width: $tablet-width) {
    background-color: $background-footer-color;
  }
}

.form__legend {
  position: relative;

  margin-bottom: 30px;
  padding: 0;

  color: $legend-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -3px;
    left: 50px;

    &--checkbox {
      top: 63px;
      left: 53px;
    }

    &--name {
      top: 42px;
    }

    &--phone {
      top: 63px;
    }

    &--email {
      top: 5px;
    }

    &--textarea {
      top: 15px;
    }
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 110px;
  }

  &--checkbox {
    margin-bottom: 10px;
  }

  &--name {
    margin-bottom: 2px;
  }

  &--phone {
    margin-bottom: 12px;
  }

  &--email {
    margin-bottom: 15px;
  }

  &--textarea {
    margin-bottom: 19px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 60px;

    width: calc(100vw - 120px);
    height: 1px;

    background-color: $radio-color;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--email::after {
    left: 78px;

    width: calc(100vw - 138px);
  }
}

.form__label {
  display: flex;
  flex-direction: column;

  line-height: 18px;

  &--name {
    @media (min-width: $tablet-width) {
      display: grid;
      margin-bottom: 37px;

      font-size: 19px;
      column-gap: 25px;

      grid-template-columns: min-content 1fr;
    }
  }
}

.form__text-radio {
  position: relative;

  margin-bottom: 24px;
  padding-left: 60px;

  @media (min-width: 346px) {
    margin-bottom: 35px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
    padding-left: 77px;

    font-size: 19px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 46%;
    left: -1px;

    box-sizing: border-box;
    width: 42px;
    height: 42px;

    border: 2px solid $secondary-color;
    border-radius: 50%;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      width: 52px;
      height: 52px;
    }
  }
}

.form__text-radio:hover::before {
  border-color: $radio-color;
}

.form__text-radio:active::before {
  border-color: rgba($primary-color, 0.3);
}

.form__input-radio:checked + .form__text-radio::before {
  box-shadow: inset 0 0 0 10px $white-color, inset 0 0 0 20px $radio-color;

  @media (min-width: $tablet-width) {
    box-shadow: inset 0 0 0 13px $white-color, inset 0 0 0 25px $radio-color;
  }
}

.form__input-radio:focus + .form__text-radio::before {
  border-color: $radio-color;
}

.form__text-checkbox {
  position: relative;

  margin: 21.5px 0;
  padding-left: 61px;

  @media (min-width: $tablet-width) {
    padding-left: 82px;

    font-size: 19px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 46%;
    left: 0;

    box-sizing: border-box;
    width: 38px;
    height: 38px;

    border: 2px solid $secondary-color;
    transform: translateY(-50%);

    @media (min-width: $tablet-width) {
      width: 52px;
      height: 52px;
    }
  }
}

.form__text-checkbox:hover::before {
  border-color: $radio-color;
}

.form__text-checkbox:active::before {
  border-color: rgba($secondary-color, 0.3);
}

.form__input-checkbox:checked + .form__text-checkbox::before {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (min-width: $tablet-width) {
    background-image: url("../img/tick-big.svg");
    background-position: 54% 54%;
  }
}

.form__input-checkbox:focus + .form__text-checkbox::before {
  border-color: $radio-color;
}

.form__text-field {
  margin-bottom: 14px;
  padding-top: 23px;

  @media (min-width: $tablet-width) {
    margin-left: -2px;
    padding-top: 3px;
  }
}

.form__input-field {
  box-sizing: border-box;
  padding: 0;
  padding-bottom: 12px;

  font-size: 17px;
  font-family: inherit;

  background-color: transparent;
  border: none;
  border-bottom: 2px solid $primary-color;
  outline: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 11px;
    padding-left: 16px;

    font-size: 19px;
  }

  &--phone {
    padding-right: 45px;
    padding-bottom: 15px;

    background-image: url("../img/phone.svg");
    background-repeat: no-repeat;
    background-position: 97% 0;

    @media (min-width: $tablet-width) {
      background-position: 94.5% 10%;
    }

    @media (min-width: $desktop-width) {
      background-position: 99% 10%;
    }

    &:hover,
    &:focus {
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.44 24h-1.11c-4.939-.593-8.568-2.864-11.189-5.728C2.521 15.408.403 11.753 0 6.716V5.333c.1-.888.504-1.481 1.109-2.074.605-.69 1.613-1.481 2.52-1.58.706 0 1.815.494 2.218 1.087.403.493.605 1.58.806 2.37.202.889.605 1.975.504 2.765-.201 1.186-1.814 1.68-2.217 2.568 1.612 3.655 4.133 6.42 7.56 8.198.806-.494 1.613-1.877 2.823-1.877.403 0 1.008.198 1.41.297.505.098.908.296 1.311.493.706.297 2.017.593 2.42 1.186.403.592.705 1.58.605 2.172-.303 1.284-2.42 2.667-3.63 3.062zM12.6 1.481c5.948 0 10.888 4.741 10.888 10.667H25C25 5.432 19.456 0 12.6 0v1.481z' fill='%2362D1BA'/%3E%3Cpath d='M12.6 9.185v1.58c.807 0 1.412.593 1.412 1.383h1.613c0-1.58-1.31-2.963-3.024-2.963zM12.6 6.124c3.327 0 6.15 2.666 6.15 6.024h1.613c0-4.148-3.427-7.506-7.661-7.506v1.482H12.6z' fill='%2362D1BA'/%3E%3C/svg%3E");
    }
  }

  &--email {
    padding-right: 45px;
    padding-bottom: 14px;

    background-image: url("../img/mail.svg");
    background-repeat: no-repeat;
    background-position: 99% 11%;

    @media (min-width: $tablet-width) {
      background-position: 95.4% 23%;
    }

    @media (min-width: $desktop-width) {
      background-position: 99.5% 30%;
    }

    &:hover,
    &:focus {
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='1' d='M28 0H4C1.8 0 0 1.8 0 4v13c0 2.2 1.8 4 4 4h24c2.2 0 4-1.8 4-4V4c0-2.2-1.8-4-4-4zM2 5.3l7 5.3-7 5.3V5.3zM30 17c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2l7.8-5.9 4.4 3.3c.5.4 1.2.6 1.8.6.6 0 1.3-.2 1.8-.6l4.4-3.3L30 17zm0-1.2l-7-5.3 7-5.3v10.6zm-12.8-2.2c-.4.3-.8.4-1.2.4-.4 0-.9-.1-1.2-.4l-4.1-3.1-.8-.6L2 4c0-1.1.9-2 2-2h24c1.1 0 2 .9 2 2l-12.8 9.6z' fill='%2362D1BA'/%3E%3C/svg%3E");
    }
  }

  &:hover,
  &:focus {
    border-color: $radio-color;
  }

  &::placeholder {
    color: rgba($primary-color, 0.3);
  }
}

.form__textarea {
  box-sizing: border-box;
  width: 100%;
  height: 142px;
  margin-bottom: 15px;
  padding: 16px;

  font-size: 17px;
  line-height: 18px;
  font-family: inherit;

  border: 2px solid $primary-color;
  outline: none;

  resize: none;

  @media (min-width: $tablet-width) {
    margin-left: -3px;

    font-size: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 13px;
  }

  &:hover,
  &:focus {
    border-color: $radio-color;
  }

  &::placeholder {
    color: rgba($primary-color, 0.3);
  }
}

.form__text-note {
  margin: 0;
  margin-bottom: 29px;

  font-size: 14px;
  color: $secondary-color;

  @media (min-width: $tablet-width) {
    order: 2;

    font-size: 17px;
  }
}

.form__button {
  margin-right: auto;
  margin-bottom: 55px;
  margin-left: auto;

  font-size: 17px;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin: 0;
  }
}

.form__inner-contacts {
  @media (min-width: $tablet-width) {
    background-color: $background-footer-color;
  }
}

.form__inner-user {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}
