.goods__wrapper {
  padding-top: 12px;
}

.goods__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $desktop-width) {
    display: grid;

    column-gap: 51px;

    grid-template-columns: 1fr 1fr 1fr;
  }
}

.goods__item {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    display: grid;
    width: auto;
    margin-bottom: 54px;

    grid-template-columns: min-content 1fr;
    grid-template-rows: 334px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;

    grid-template-columns: 316px;
    grid-template-rows: 462px 197px;
  }
}

.goods__item:hover .goods__inner {
  box-shadow: 0 6px 10px rgba($primary-color, 0.1);
}

.goods__item:active .goods__inner {
  box-shadow: 0 3px 5px rgba($primary-color, 0.1);
}

.goods__img-link {
  height: 195px;
}

.goods__img {
  display: block;

  background-color: $secondary-color;

  @media (min-width: $tablet-width) {
    width: 334px;
    height: 334px;
  }

  @media (min-width: $desktop-width) {
    width: 316px;
    height: 462px;
  }
}

.goods__title-link {
  color: inherit;
  text-decoration: none;

  :hover {
    opacity: 0.6;
  }

  :active {
    opacity: 0.3;
  }
}

.goods__inner {
  box-sizing: border-box;
  padding: 28px;
  padding-right: 26px;
  padding-left: 27px;

  border: 1px solid $table-border-color;

  @media (min-width: $tablet-width) {
    display: grid;
    padding-top: 25px;
    padding-right: 30px;
    padding-left: 32px;

    grid-template-rows: min-content min-content 1fr;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 26px;
    padding-left: 28px;
  }
}

.goods__title {
  margin-bottom: 12px;

  font-size: 17px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.goods__description {
  margin: 0;
  margin-bottom: 24px;

  font-size: 13px;
  color: $secondary-color;

  @media (min-width: $tablet-width) {
    font-size: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.goods__row {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;

  border-top: 1px solid $table-border-color;

  @media (min-width: $tablet-width) {
    align-self: flex-end;
  }
}

.goods__price {
  margin: 0;

  font-weight: 700;
  font-size: 15px;
  color: $secondary-color;

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}

.goods__link {
  display: block;
  width: 21px;
  height: 18px;

  background-image: url("../img/cart.svg");
  filter: grayscale(1);

  &:hover {
    filter: none;
  }

  &:active {
    opacity: 0.3;
  }
}
