.intro__title {
  margin-bottom: 18px;
  padding-top: 69px;
  padding-bottom: 70px;

  font-size: 27px;
  text-align: center;

  background-color: $background-title-color;
}

.intro__text {
  margin: 0;
  margin-bottom: 26px;

  font-size: 13px;
  line-height: 24px;
  color: $secondary-color;
}
