.page-header__wrapper {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 1150px;
  margin: 0 auto;

  box-shadow: 0 1px 0 $box-shadow-menu-color;

  @media (min-width: $tablet-width) {
    display: grid;
    min-height: 89px;
    padding: 0;

    box-shadow: none;

    grid-template-columns: 1fr 398px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
  }
}

.page-header__logo {
  width: 86px;
  height: 35px;
  margin-right: auto;
  margin-left: auto;
  padding: 23px;
  padding-top: 22px;

  text-align: center;

  @media (min-width: $tablet-width) {
    width: 113px;
    height: 46px;
    margin: 0;
    margin-left: 25px;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 9px;
    left: 50%;

    width: 149px;
    height: 72px;
    margin-left: -75px;
    padding: 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--index {
    &:hover,
    &:active {
      opacity: 1;
    }
  }
}

.page-header__img {
  @media (min-width: $tablet-width) {
    width: 113px;
    height: 46px;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
    height: 72px;
  }
}

.page-header__list {
  position: absolute;
  top: 94px;
  left: 31px;

  display: none;
  flex-wrap: wrap;
  width: 820px;
  padding: 0;

  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.page-header__item {
  margin-right: 21px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 15px;
}

.page-header__link {
  padding: 20px;

  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__text {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 110px;
    right: 50px;

    display: block;

    font-size: 15px;
  }
}
