.reviews__wrapper {
  margin-bottom: 92px;
}

.reviews__title {
  margin-bottom: 12px;
}

.reviews__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reviews__blockquote {
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 34px;

  font-size: 15px;
  line-height: 30px;
  color: $secondary-color;
}

.reviews__name {
  display: block;
  margin-bottom: 7px;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;
}

.reviews__id {
  margin: 0;
  margin-bottom: 32px;

  font-size: 17px;
}

.reviews__toggles {
  display: flex;
}

.reviews__toggle {
  box-sizing: border-box;
  width: 130px;
  height: 52px;
  margin-bottom: 38px;
  padding: 0;

  background-color: $white-color;
  background-repeat: no-repeat;
  background-position: 48% 50%;
  border: 1px solid $table-border-color;
  cursor: pointer;

  &--previous {
    background-image: url("../img/arrow-left.svg");
    border-right: 0.5px solid $table-border-color;
  }

  &--next {
    background-image: url("../img/arrow-right.svg");
    border-left: 0.5px solid $table-border-color;
  }
}
