.reviews__wrapper {
  position: relative;

  margin-bottom: 92px;

  @media (min-width: $tablet-width) {
    min-height: 457px;
    margin-bottom: 149px;

    background-image: url("../img/review.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px 457px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 231px;
    padding-left: 225px;

    background-position: 50px 0;
  }
}

.reviews__title {
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    padding-top: 78px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
    padding-top: 71px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reviews__item {
  display: none;
}

.reviews__item--active {
  display: block;
}

.reviews__blockquote {
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 34px;

  font-size: 15px;
  line-height: 30px;
  color: $secondary-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;

    font-size: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

.reviews__name {
  display: block;
  margin-bottom: 7px;

  font-style: normal;
  font-weight: 700;
  font-size: 17px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
  }
}

.reviews__id {
  margin: 0;
  margin-bottom: 32px;

  font-size: 17px;
}

.reviews__toggles {
  display: flex;
  justify-content: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 50px;
    bottom: 11px;

    width: 175px;
  }

  @media (min-width: $desktop-width) {
    bottom: 60px;
  }
}

.reviews__toggle {
  box-sizing: border-box;
  width: 130px;
  height: 52px;
  margin-bottom: 38px;
  padding: 0;

  background-color: $white-color;
  background-repeat: no-repeat;
  background-position: 48% 50%;
  border: 1px solid $table-border-color;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border: none;
  }

  &--previous {
    background-image: url("../img/arrow-left.svg");
    border-right: 0.5px solid $table-border-color;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  &--next {
    background-image: url("../img/arrow-right.svg");
    border-left: 0.5px solid $table-border-color;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }
}

.reviews__link {
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 79px;
    right: 50px;

    width: 175px;
    margin-right: 0;
    margin-left: 0;
  }
}
