.social__list {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 47px;
  padding: 0;

  list-style: none;
}

.social__item {
  margin: 0 20.5px;
}

.social__link:hover .social__img {
  fill: $contacts-link-color;
}

.social__link:active .social__img {
  opacity: 0.3;
}
