$primary-color: #000000;
$secondary-color: #444444;
$background-color: #ffffff;
$box-shadow-menu-color: #ececec;
$white-color: #ffffff;
$categories-first-color: #63d1bb;
$categories-second-color: #56c3b2;
