$primary-color: #000000;
$secondary-color: #444444;
$background-color: #ffffff;
$background-footer-color: #f1f1f1;
$box-shadow-menu-color: #ececec;
$white-color: #ffffff;
$categories-interior-color: #63d1bb;
$categories-toy-color: #56c3b2;
$categories-background-color: #f9f9f9;
$table-border-color: #ececec;
$featured-subtitle-color: #63d1bb;
$border-footer-color: #e5e5e5;
$border-contacts-color: #62d1ba;
$background-title-color: #f1f1f1;
$legend-color: #63d1bb;
$radio-color: #62d1ba;
$tablet-width: 768px;
$desktop-width: 1150px;
